services/UsersWS_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UsersWS"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">

            <xsd:element name="getUserbyNom"
            	type="tns:getUserbyNomType">
            </xsd:element>
            <xsd:element name="getUserbyNomResponse"
            	type="tns:getUserbyNomResponseType">
            </xsd:element>



            <xsd:complexType name="getUserbyNomType">
            	<xsd:sequence>
            		<xsd:element name="nom" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="getUserbyNomResponseType">
            	<xsd:sequence>
            		<xsd:element name="users" type="tns:users"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="users">
            	<xsd:sequence>
            		<xsd:element name="user" type="tns:user"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		
            <xsd:complexType name="user">
            	<xsd:sequence>
            		<xsd:element name="nom" type="xsd:string"></xsd:element>
            		<xsd:element name="prenom" type="xsd:string"></xsd:element>
            		<xsd:element name="login" type="xsd:string"></xsd:element>
            		<xsd:element name="password" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            	<xsd:attribute name="id" type="xsd:int"></xsd:attribute>
            </xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="UsersWSOperationRequest">
		<wsdl:part name="parameters" element="tns:getUserbyName"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UsersWSOperationResponse">
	</wsdl:message>

	<wsdl:message name="getUsersbyNomRequest">
		<wsdl:part name="parametres" element="tns:getUserbyNom"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUsersbyNomResponse">
		<wsdl:part name="parameters" element="tns:getUserbyNomResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Request">
		<wsdl:part name="Request" element="tns:in1"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Response">
		<wsdl:part name="parameters" element="tns:Response"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part name="NewOperationRequest" element="tns:in"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part name="NewOperationResponse" element="tns:out"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="UsersWSPortType">
		<wsdl:operation name="getUsersbyNom">
			<wsdl:input message="tns:getUsersbyNomRequest"></wsdl:input>
			<wsdl:output message="tns:getUsersbyNomResponse"></wsdl:output>
		</wsdl:operation>			</wsdl:portType>

	<wsdl:binding name="UsersWSBinding" type="tns:UsersWSPortType">


		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getUsersbyNom">

			<soap:operation
				soapAction="http://www.talend.org/service/getUsersbyNom" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="UsersWS">
		<wsdl:port name="UsersWSPort" binding="tns:UsersWSBinding">
			<soap:address location="http://localhost:8090/services/UsersWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>